[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
opencv-python = "*"
ultralytics = "*"
torch = "*"
matplotlib = "*"
pyqt5 = "*"
faiss-gpu = "*"

[dev-packages]

[requires]
python_version = ">=3.12"
